@font-face {
  font-family: gilroy-regular;
  src: url(Gilroy-Regular.woff);


}
@font-face {
  font-family: gilroy-bold;
  src: url(Gilroy-Bold.woff);
}
@font-face {
  font-family: gilroy-heavy;
  src: url(Gilroy-Heavy.woff);
}
@font-face {
  font-family: gilroy-light;
  src: url(Gilroy-Light.woff);
}
@font-face {
  font-family: gilroy-medium;
  src: url(Gilroy-Medium.woff);
}
body {
  
  font-family: gilroy-regular;
  font-variant-ligatures: none;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: env(safe-area-inset-top);
  overflow-x: hidden;
}

.top{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


.download{
  padding: 60px 50px 100px
}

*{
  box-sizing: border-box;
}
.credoptions{
  
    padding: 8px 0px;
    position: relative;

}
.flex-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.credscore > a {
  color: rgb(253, 249, 249);
  opacity: 0.8;
  font-family: gilroy-regular ;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap;
  margin-right: 20px;
}
a:link {
  text-decoration: none;
}

.credpay > a {
  color: rgb(253, 249, 249);
  opacity: 0.8;
  font-family: gilroy-regular;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap;
  margin-right: 20px;
}


.statement-rewards {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(253, 249, 249);

}
.rewards {
  font-size: 55px;
  font-family: gilroy-bold;
  letter-spacing: -1.65px;
  line-height: 47.5px;
  text-align: left;
  white-space: inherit;
  width: 270px;
}

.join {
  font-size: 16px;
  font-family: gilroy-semibold;
  letter-spacing: 0px;
  line-height: 22px;
  white-space: pre-line;
  width: 270px;
  text-align: left;
}


.button-to-download {
  margin-top: 58px;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  pointer-events: auto;
  text-align: center;
  padding: 20px 65px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "gilroy-bold";
 
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 40px;
  cursor: pointer;
}

.animate-mobile{
  background-color: rgb(15, 15, 15);
  width: 100vw;
  height: 800px;
  position: relative;
  overflow: hidden;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/video-bg.png");
  background-size: cover;
  background-position: right top;
}
.mobiles {
  min-height: 70%;
}
.mobile{
    transition: all 1s ease-in-out;
    position: absolute;
    bottom: 0px;
    left: 50%;
  
  
}


.pink-section {
  padding: 100px;
  background-position: center bottom;
}
.pink-section {
  background-color: rgb(238, 47, 76);
  color: rgb(248, 248, 248);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 240px 200px 180px;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.pink-statement-1 {
  white-space: initial;
  max-width: 670px;
}
.pink-statement-1 {
  font-size: 100px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 96px;
  white-space: pre-line;
  opacity: 0.9;
}
.pink-statement-2 {
  font-size: 32px;
  font-family: "gilroy-bold";
  letter-spacing: -0.2px;
  line-height: 38px;
  white-space: pre-line;
  max-width: 630px;
  margin-top: 16px;
}
.pink-statement-3 {
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 630px;
  margin-bottom: 40px;
}
.Explore-rewards-button {
  display: inline-flex;
  white-space: nowrap;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  pointer-events: auto;
  text-align: center;
  padding: 20px 65px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "gilroy-bold";
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 40px;
  cursor: pointer;
}

.brands {
  padding: 60px 100px;
}
.brands {
  background-color: rgb(248, 248, 248);
  color: rgb(33, 36, 38);
  width: 100vw;
  position: relative;
  padding: 60px 200px;
}
.brands-statement-box {
  display: flex;
  align-items: flex-end;
}
.brands-statement{
  font-size: 24px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 38px;
  white-space: pre-line;
}
.brands-mentioned-image {
  background-image: url("brands/brands-desktop.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 50px;
  width: 100%;
  margin-top: 50px;
}


div.first {
  background-size: auto;
  height:1500px; /*height of your image*/
  background-image:url('./first-backgorund-image/video-bg.png');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
div.second {
  background-size: auto;
  height:1000px; /*height of your image*/
  background-image:url('./pink/deserve-more-bg.jpg');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
div.third {
  background-size: auto;
  height:300px; /*height of your image*/
  background-image:url('./brands/brands-mobile.png');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
div.fourth {
  background-size: auto;
  height:800px; /*height of your image*/
  background-image:url('./blue/money-matters-bg.jpg');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  height: 1000px;
}
.blue-section{
  background-color: rgb(26, 97, 233);
  color: rgb(248, 248, 248);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 240px 200px 180px;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.blue-statement-1 {
  font-size: 100px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 96px;
  white-space: pre-line;
  opacity: 0.9;
}
.blue-statement-2{
  font-size: 32px;
  font-family: "gilroy-bold";
  letter-spacing: -0.2px;
  line-height: 38px;
  white-space: pre-line;
  max-width: 630px;
  margin-top: 16px;
}
.blue-statement-3 {
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 630px;
  margin-bottom: 40px;
}
.Experience-button{
  display: inline-flex;
  white-space: nowrap;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  pointer-events: auto;
  text-align: center;
  padding: 20px 65px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "gilroy-bold";
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 40px;
  cursor: pointer;
}



.black-scroll-section {
  background-color: rgb(33, 36, 38);
  color: rgb(248, 248, 248);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 240px 200px 250px;
  background-image: url("black-scroll-inside-mobile/hero-bg.png");
  background-size: cover;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.black-scroll-statement-para {
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  
}
.black-scroll-first-statement-anim {
  margin-bottom: 100px;
  margin-top: 250px;
}
.black-scroll-first-statement{
  font-size: 105px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 105px;
  white-space: pre-line;
  opacity: 0.9;
}
.black-scroll-first-para{
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 600px;
  margin-top: 52px;
}

.black-scroll-second-statement-anim {
  margin-bottom: 100px;
  margin-top: 250px;
}
.black-scroll-second-statement {
  font-size: 70px;
  line-height: 70px;
}
.black-scroll-second-statement {
  font-size: 105px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 105px;
  white-space: pre-line;
  opacity: 0.9;
}
.black-scroll-second-para{
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 600px;
  margin-top: 52px;
}
.black-scroll-third-statement-anim {
  margin-bottom: 100px;
  margin-top: 250px;
}
.black-scroll-third-statement {
  font-size: 105px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 105px;
  white-space: pre-line;
  opacity: 0.9;
}
.black-scroll-third-para {
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 600px;
  margin-top: 52px;
}


.black-scroll-fourth-statement-anim {
  margin-bottom: 100px;
  margin-top: 250px;
}
.black-scroll-fourth-statement {
  font-size: 105px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 105px;
  white-space: pre-line;
  opacity: 0.9;
}
.black-scroll-fourth-para {
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 600px;
  margin-top: 52px;
}


.dynamicMobile-margin {
  width: auto;
  margin-left: 60px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  
}
.dynamicMobile-padding{
  position: sticky;
  top: 180px;
  width: 350px;
  height: 600px;
  box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset, rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
  border-radius: 46px;
  padding: 16px 14px;
}

.dynamicImage-margin{
  background-color: rgb(13, 13, 13);
  border-radius: 36px;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
}
.dynamicImage {
  width: 300px;
}












.purple {
  
    background-color: rgb(90, 30, 203);
    color: rgb(248, 248, 248);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background-image:url('./purple/security-bg.jpg');
    padding: 240px 200px 180px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    -moz-box-pack: justify;
    justify-content: space-between;
  

}
.purple-statement-1 {
  white-space: initial;
  max-width: 670px;
}
.purple-statement-1 {
  font-size: 100px;
  font-family: "gilroy-bold";
  letter-spacing: -3.15px;
  line-height: 96px;
  white-space: pre-line;
  opacity: 0.9;
}
.purple-statement-2 {
  font-size: 32px;
  font-family: "gilroy-bold";
  letter-spacing: -0.2px;
  line-height: 38px;
  white-space: pre-line;
  max-width: 630px;
  margin-top: 16px;
}
.purple-statement-3 {
  font-size: 18px;
  font-family: "gilroy-semibold";
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 630px;
  margin-bottom: 40px;
}
.member-button{
  
    display: inline-flex;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    padding: 20px 65px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "gilroy-bold";
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    cursor: pointer;
  

}

.green-section {
  padding: 200px 100px;
}
.green-section {
  background-color: rgb(2, 119, 87);
  color: rgb(248, 248, 248);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 240px 200px 250px;
  background-image: url("green/trust-bg.jpg");
  background-size: cover;
  background-position: right bottom;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.green {
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  width: 50%;
}
.green-statement-1 {
  font-size: 60px;
  font-family: "gilroy-bold";
  letter-spacing: -1.15px;
  line-height: 64px;
  white-space: pre-line;
  opacity: 0.9;
}
.green-statements {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
}
.green-statement-2 {
  font-size: 18px;
  font-family: "gilroy-regular";
  letter-spacing: 0px;
  line-height: 28px;
  margin-top: 20px;
  max-width: 550px;
}
.green-statement-3 {
  font-size: 18px;
  font-family: "gilroy-regular";
  letter-spacing: 0px;
  line-height: 28px;
  margin-top: 20px;
  max-width: 550px;
}
.green-statement-4 {
  font-size: 18px;
  font-family: "gilroy-regular";
  letter-spacing: 0px;
  line-height: 28px;
  margin-top: 20px;
  max-width: 550px;
}

div.seventh {
  background-size: auto;
  height:1000px; /*height of your image*/
  background-image:url('./purple/security-bg.jpg');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}
div.eighth{
  background-size: auto;
  height:864.4px; /*height of your image*/
  background-image:url('./green/trust-bg.jpg');
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
}


.ratingscomments-section {
  padding: 100px 60px;
}
.ratingscomments-section  {
  display: flex;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png");
  background-position: right top;
  background-size: cover;
  position: relative;
  z-index: 20;
}
.ratingscomments-div {
  padding: 0px;
}
.ratingscomments-div{
  color: rgb(255, 255, 255);
  padding: 200px;
  font-family: "gilroy-bold";
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.ratings-div {
  justify-content: space-evenly;
}
.ratings-div {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
}
.ratings-palystore-div{
  padding-right: 35px;
}
.ratings-palystore-div {
  padding-right: 75px;
}
.appstore {
  padding-bottom: 0px;
}
.appstore {
  display: flex;
  -moz-box-align: center;
  align-items: center;

}
.appstore-rating {
  font-size: 100px;
}
.appstore-rating {
  font-size: 160px;
  line-height: 120px;
  padding-right: 16px;
  opacity: 0.9;
}
.appstore-statement {
  font-size: 45px;
  line-height: 45px;
}
.appstore-statement {
  
  line-height: 55px;
  padding-left: 16px;
  color: rgb(236, 233, 234);
  opacity: 0.9;

  font-size: 65px;
  line-height: 45px;
  
}
.app-store-rating {
  padding-bottom: 48px;
}
.appstore-rating-img {
  width: 179px;
  height: 28px;
}

.appstore-download {
  width: 285px;
}
.appstore-download {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "gilroy-bold";
  padding: 15px 0px;
  width: 310px;
  display: flex;
  height: 70px;
  -moz-box-align: center;
  align-items: center;
  border-radius: 48px;
  -moz-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.appstore-img {
  width: 44px;
}

.appstore-download p{padding-left: 8px;
font-size: 20px;
line-height: 8px;}

.rating-playstore-div{
  padding-left: 75px;
}

.playstore {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.playstore-rating{
  font-size: 160px;
  line-height: 120px;
  padding-right: 16px;
  opacity: 0.9;
}
.playstore-statement{
  font-size: 60px;
  line-height: 55px;
  padding-left: 16px;
  color: rgb(236, 233, 234);
  opacity: 0.9;
}
.playstore-rating-img {
  padding-bottom: 48px;
}

.playstore-rating-img-download{
  width: 179px;
  height: 28px;
}

.playstore-download{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "gilroy-bold";
  padding: 15px 0px;
  width: 310px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 48px;
  -moz-box-pack: center;
  justify-content: center;
  cursor: pointer;
}

.playstore-rating-img-download{
  width: 179px;
  height: 28px;
}

.playstore-download{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "gilroy-bold";
  padding: 15px 0px;
  width: 310px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 48px;
  -moz-box-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 80px;
}

.playstore-download-ratings-img{
  width: 44px;
}

.playstore-download p {
  padding-left: 8px;
  font-size: 20px;
  line-height: 18px;
  height: 55px;
}


.comments   {
  height: 200px;
  width: 900px;
  margin: 60px auto 0px;
  overflow: hidden;
  display: flex;
}

.comment-style-div{
  height: 200px;
  width: 900px;
  margin: 60px auto 0px;
  overflow: hidden;
  display: flex;
}


.dots-change{
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
}


.comment-dot{
  height: 10px;
  width: 10px;
  background-color: rgb(222, 222, 222);
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
}
.bxvyua {
  background-color: rgb(34, 34, 35);
  color: rgb(255, 255, 255);
  z-index: 20;
  overflow: hidden;
  padding: 120px;
}

.iNapQl {
  margin-bottom: 70px;
  font-family: gilroy-regular;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.65px;
  color: rgb(0, 0, 0);
  opacity: 1;
}

.iGNkcG .wrappercontent h2 {
  font-family: "gilroy-bold";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.iGNkcG .wrappercontent p {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 0px !important;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.iGNkcG .wrappercontent a {
  text-decoration: underline !important;
  color: rgb(255, 255, 255) !important;
}
.iNapQl a {
  
  font-weight: 400;
  
  outline: 0px;
  word-break: break-all;
}

.iNapQl {
  margin-bottom: 70px;
  font-family: gilroy-regular;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.65px;
  color: rgb(0, 0, 0);
  opacity: 1;
}
.iGNkcG .wrappercontent h2 {
  font-family: "gilroy-bold";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.iNapQl h2 {

  margin-bottom: 35px;
  
}


.iGNkcG .wrappercontent p {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 0px !important;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.iNapQl {
  margin-bottom: 70px;
  font-family: gilroy-regular;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.65px;
  color: rgb(0, 0, 0);
  opacity: 1;
}
.iGNkcG .wrappercontent h2 {
  font-family: "gilroy-bold";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.iGNkcG .wrappercontent p {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 0px !important;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.kYkdnt {
  border: 1px solid rgb(187, 187, 187);
  opacity: 0.4;
  margin-bottom: 50px;
}
.kWzWrs {
  word-break: break-word;
}




.cqvDjv:first-child {
  font-family: "gilroy-bold";
  padding: 0px;
  border-right: medium none;
}
.cqvDjv {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 0.7;
  padding: 0px 12px;
  border-right: 1px solid rgb(246, 246, 246);
}
a {
  text-decoration: none;
  outline: 0px;
}

.gsKKkv {
  padding: 100px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
}
.kdQCdp {
  display: flex;
  flex-direction: column;
}
.jFxLHt {
  width: 168px;
}
.kzBPGX {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 405px;
}



.gsKKkv {
  background-color: rgb(37, 36, 36);
  padding: 100px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
}
.black-bg{
 background-color:  rgb(22, 21, 23);
}

.kYkdnt {
  border: 1px solid rgb(187, 187, 187);
  opacity: 0.4;
  margin-bottom: 50px;
}
.kWzWrs {
  word-break: break-word;
}
.kdQCdp {
  margin-right: 50px;
}
.kdQCdp {
  display: flex;
  flex-direction: column;
}
.jFxLHt {
  width: 168px;
}

.kzBPGX {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 405px;
}

.fcReWm {
  font-size: 21px;
}
.bkFedr {
  font-family: "gilroy-bold";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-bottom: 24px;
  opacity: 0.9;
}
.cAIwMN {
  max-width: 500px;
}
.hTFYcX {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 75px;
  opacity: 0.7;
}
.ihCLhs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
}
.gRnkiE {
  margin-bottom: 30px;
}
.jJsnXv {
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.bkFedr {
  font-family: "gilroy-bold";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-bottom: 24px;
  opacity: 0.9;
}

.dBWdLH {
  color: inherit;
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 10px;
  display: block;
  opacity: 0.7;
}
a {
  text-decoration: none;
  outline: 0px;
}

.dBWdLH {
  color: inherit;
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 33px;
  margin-bottom: 10px;
  display: block;
  opacity: 0.7;
}
a {
  text-decoration: none;
  outline: 0px;
}



.GASOy {

    align-self: baseline;

}

.MogqY {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  opacity: 0.4;
}
.hBUjKF {
  align-self: baseline;
}
.kWzWrs {
  word-break: break-word;
}
.geRkFh:first-child {
  padding: 0px 15px 0px 0px;
}
.geRkFh {
  font-family: "gilroy-regular";
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 0.7;
  padding: 0px 15px;
  border-right: 1px solid rgb(246, 246, 246);
}
a {
  text-decoration: none;
  outline: 0px;
}

.sixth{
  
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/neopop-image-mock.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
























@media screen and (max-width: 767px){
.footer {
  display: block;
}
}
.footer {
  background-color: rgb(22, 21, 23);
  color: rgb(255, 255, 255);
  z-index: 20;
  overflow: hidden;
}

.padding-on-about {
  margin-bottom: 70px;
  font-family: gilroy-regular;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.65px;
  color: rgb(0, 0, 0);
  opacity: 1;
}
@media screen and (max-width: 1279px){         

.about .wrappercontent h2 {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
}

.isVisible{
  animation-name: isVisible;
  animation-duration: 3s;
}




@keyframes isVisible {
  0%   {
      opacity: 0.9;
      transform: translate(-50%, 100%);
  }
 
}



 
.fade-on-scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  
}

.animateOne{
  animation-name: animateOne;
  

}

@keyframes animateOne{
  
  100% {
  opacity:1;
  transform: translate3d(150%, 0px, 0px);
  }
}

.animateTwo{
  animation-name: animateTwo;
  animation-duration: 2s;

}

@keyframes animateTwo{
  0%{
    opacity: 1;
    transform: translate3d(200%, 0px, 0px);
  }
  100% {
  opacity:1;
  transform: translate3d(50%, 0px, 0px);
  }
}
.animateThree{
  animation-name: animateThree;
  animation-duration: 2s;
}

@keyframes animateThree{
  0%{
    opacity: 1;
    transform: translate3d(200%, 0px, 0px);
  }
  100% {
  opacity:1;
  transform: translate3d(-50%, 0px, 0px);
  }
}

.animateFour{
  
  animation-name: animateFour;

}

@keyframes animateFour{
  0%{
    opacity: 1;
    transform: translate3d(200%, 0px, 0px);
  }
  100% {
  opacity:1;
  transform: translate3d(-150%, 0px, 0px);
  }
}